:scss
  .actual{
    border-bottom: 1px solid #cce7d9;
    .act{
      margin-bottom: 10px;
      h4{
        margin:0;
        padding: 10px 0px 10px 15px ;
        background: #dcefe5;
        border-radius: 10px 10px 0 0;
      }
      iframe{
        width: 100%;
        height: auto;
      }
    }
  }

.actual
  %h3 Актуальні заходи та події
  .act
    %h4 Водохреща!!!
    -#%iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/B0YbzEQCB-g", :width => "100%"}
    -#%iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/GRD_Msy3UOw?showinfo=0", :width => "100"}
    %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/du-SmGLxml4", :width => "400"}
    %p Вся історія людства тісно пов’язана з вживанням засобів, які можуть змінювати психічний стан людини. На жаль, неможливо охопити всі причини, які спонукають людину до вживання психотропних препаратів.