:scss
  .videos{
    border-bottom: 1px solid #cce7d9;
    h3>a{
      color: #008f44;
    }
    .one_video{
      margin-bottom: 10px;
      h4{
        margin:0;
        padding: 10px 0px 10px 15px ;
        background: #dcefe5;
        border-radius: 10px 10px 0 0;
        a{
          text-decoration: none;
          color: #303030;
        }
      }
      h4:hover{
        border-radius: 15px 15px 0 0;
        background: #D2E8DC;
      }
      iframe{
        width: 100%;
        height: auto;
      }
      .description{
        max-height: 140px;
        overflow-y: auto;
      }
    }
  }

.videos
  %h3
    %a{:href => "/videos", title: "Усі новини"} Відеоматеріали
  - @three_videos.each do |video|
    .one_video
      %h4
        %a{:href =>show_one_video_path(video), title: "Переглянути"}= video.title
      = video.iframe.html_safe
      .description
        = simple_format(video.description)