:scss
  .videos{
    border-bottom: 1px solid #cce7d9;
    .crud-block>a{
      color: #008f44;
    }
    .act_video{
      margin-bottom: 10px;
      h4{
        margin:0;
        padding: 10px 0px 10px 15px ;
        background: #dcefe5;
        border-radius: 10px 10px 0 0;
        a{
          text-decoration: none;
          color: #303030;
        }
      }
      h4:hover{
        border-radius: 15px 15px 0 0;
        background: #D2E8DC;
      }
      iframe{
        width: 100%;
        height: auto;
      }
      .description{
        max-height: 140px;
        overflow-y: auto;
      }
    }
  }

.videos
  %h3.crud-block
    %a{:href => "/videos", title: "Усі новини"} Відеоматеріали
  - @three_videos.each do |video|
    .act_video
      %h4
        %a{:href =>show_one_video_path(video), title: "Переглянути"}= video.title
      = video.iframe.html_safe
      .description
        = simple_format(video.description)

  -#.act_video
  -#  %h4 Вірусні гепатити
  -#  %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/AvJFU1tYQNA", :width => "100%"}
  -#  %p Профілактика вірусних гепатитів полягає у попереджанні інфікування вірусом гепатиту. Основним профілактичним заходом для вірусів, що передаються контактно-побутовим шляхом є дотримання правил особистої гігієни, уникання вживання забрудненою води та продуктів харчування, контактування із хворими особами (введення карантину у навчальних закладах та організованих колективах).
  -#.act_video
  -#  %h4 Водохреща!!!
  -#  -#%iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/GRD_Msy3UOw?showinfo=0", :width => "100"}
  -#  %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/du-SmGLxml4", :width => "400"}
  -#  %p Вся історія людства тісно пов’язана з вживанням засобів, які можуть змінювати психічний стан людини. На жаль, неможливо охопити всі причини, які спонукають людину до вживання психотропних препаратів.
  -#.act_video
  -#  %h4 Імунітет з Комаровським
  -#  %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/B0YbzEQCB-g", :width => "100%"}
  -#  %p Вся історія людства тісно  пов’язана з вживанням засобів, які можуть змінювати психічний стан людини. На жаль, неможливо охопити всі причини, яв’язана з вживанням засобів, які можуть змінювати
  -#.act_video
  -#  %h4 Імунітет в ананасі
  -#  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/rG9cocUWNYA", :width => "100%"}
  -#  %p Вся історія людства тісно  пов’язана з вживанням засобів, які можуть змінювати психічний стан людини. На жаль, неможливо охопити всі причини, яв’язана з вживанням засобів, які можуть змінювати психічний стан людини. На жаль, неможливо охопити всі причини, яв’язана з вживанням засобів, які можуть змінювати психічний стан людини. На жаль, неможливо охопити всі причини, я