:scss
  .chart{
    display: none;
  }

.chart
  #piechart_3d{:style => "width: 100%"}

%script{:src => "https://www.gstatic.com/charts/loader.js", :type => "text/javascript"}

:javascript

  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Work gdfgdfg fgsdgfsdffg s gsffgs gs ',     11],
      ['Eat sfsf sgsf gfgf gfg fgfg gs gsg sg',      2],
      ['Eat sfsf sgsf gfgf gfg fgfg gs gsg sg',      3],
      //['Sleepdsfsd fsdf sdfsdf sdfsdf sdfsdf sdfsd fsdfsd fsfs dfs d fdsf sdfs ssdf sdfs dfsdf sf sdf gfdgfgsfgsgsfg sfgfd sgsfd gsdfsd fsdgsd',    7],
      //['Sleepdsfsd fsdf sdfsdf sdfsdf sdfsdf sdfsd fsdfsd fsfs dfs d fdsf sdfs s',    12],

    ]);

    var options = {
      legend: {position: 'right', textStyle: {fontSize: 13}},
      chartArea: {left:0,top:10,width:'100%',height:'95%'},
      'legend.alignment': 'end',
      title: 'My Daily Activities',
      is3D: true,
      //height: 700,
      tooltip: {textStyle: {fontSize: 12.5}, showColorCode: true},
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    chart.draw(data, options);
  }