:scss
  .chart{
    //display: none;
  }
rtrtrtr
.piechart_3d{:style => "width: 100%", :id => "piechart_3d_#{poll.id}"}

%script{:src => "https://www.gstatic.com/charts/loader.js", :type => "text/javascript"}

