:scss
  .interview{
    border-bottom: 1px solid #cce7d9;
    .poll{
      .head{
        margin: 10px 0;
        .icon{
          display: inline-block;
          color: #ffffff;
          width: 50px;
          height: 50px;
          text-align: center;
          padding-top: 12px;
          background: #008f44;
          border-radius: 25px;
        }
        .title{
          color: #008f44;
          padding: 0 0 0 40px;
          font-size: 18px;
          display: inline-block;
        }
        .title:hover{
          color: #444444;
        }
      }

    }
  }

.interview
  .wow.bounceInRight
  %h3 Опитування
  .poll.lightSpeedIn.wow.bounceInRight{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
    .head
      .icon
        %i.fa.fa-check-square-o.fa-2x
      %a{:href => "#"}
        .title Опитування №1
    %p Гармонійні ритми пронизують увесь світ. Вони в нас і навколо нас. Проте, ми нажаль, перестали прислухатися до них, хоча варто зробити невелике зусилля, як музика Всесвіту
  .poll.wow.bounceInLeft{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
    .head
      .icon
        %i.fa.fa-check-square-o.fa-2x
      %a{:href => "#"}
        .title Опитування №2
    %p Гармонійні ритми пронизують увесь світ. Вони в нас і навколо нас. Проте, ми нажаль, перестали прислухатися до них, хоча варто зробити невелике зусилля, як музика Всесвіту
  .poll.wow.lightSpeedIn.wow.bounceInRight{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
    .head
      .icon
        %i.fa.fa-check-square-o.fa-2x
      %a{:href => "#"}
        .title Опитування №3
    %p Гармонійні ритми пронизують увесь світ. Вони в нас і навколо нас. Проте, ми нажаль, перестали прислухатися до них, хоча варто зробити невелике зусилля, як музика Всесвіту