:scss
  .news{
    .box{
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid #cce7d9;
      overflow: hidden;
      .title {
        line-height:1.2;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
        a{
          text-decoration: none;
          color: #333333;
        }
        a:hover{
          color: #008f44;
        }
      }
      .text{
        margin-left: 26%;
        width: 75%;
        font-size: 13px;
        span{
          word-wrap: break-word;
        }
      }
      img{
        width: 25%;
        float: left;
        border-radius: 5px;
        margin-right: 5px;
      }
    }
  }

.news
  %h3.crud-block
    %a{:href => "/news", title: "Усі новини"} Новини
  - if @news_limit
    - @news_limit.each do |n|
      .box.clearfix
        -#- if request.host == "localhost"
        = link_to image_tag(n.image.thumb), show_one_news_path(n), title: "Переглянути"
        -#- else
        -#= link_to image_tag(n.image), show_one_news_path(n), title: "Переглянути"
        .text
          %p.title
            %a{:href => show_one_news_path(n), title: "Переглянути"}= n.title
          %span= truncate(strip_tags(n.description), length: 210)
  -#.box.clearfix
  -#  = image_tag 'news/child.jpg'
  -#  .text
  -#    %p.title
  -#      %a{:href => "#"} *Обережно, переохолодження та обмороження!
  -#    %span До кінця тижня на Черкащині прогнозують пониження температури до 10 грудусів нижче нуля. У Департаменті охорони здоров'я Черкаської ОДА закликають жителів бути обережними та не переохолоджуватися.
  -#.box.clearfix
  -#  = image_tag 'news/woman.jpg'
  -#  .text
  -#    %p.title
  -#      %a{:href => "#"} *Як слизові оболонки допоможуть захиститися від вірусів
  -#    %span Аби віруси не потрапляли в організм, слизові оболонки слід оберігати від пересихання. Наступні прості поради допоможуть посилити захист від інфекцій.
  -#.box.clearfix
  -#  = image_tag 'news/air.jpg'
  -#  .text
  -#    %p.title
  -#      %a{:href => "#"} *Грип: поширення, симптоми, профілактика
  -#    %span В Україні спостерігається значне підвищення рівня захворюваності на грип, близьке до епідемічного. МОЗ України наголошує на необхідності дотримання заходів задля попередження зараження грипом та у разі захворювання.
