:scss

  .polls{
    border-bottom: 1px solid #cce7d9;
    .poll{
      position: relative;
      box-shadow: 0 0 10px #cce7d9;
      padding: 5px 7px;
      #notice{
        margin-top: 5px;
        span{
          padding: 3px 5px;
          border-radius: 3px;
          font-weight: normal;
          font-size: 14px;
        }
      }
      p{
        font-weight: bold;
        font-size: 15.5px;
      }
      .head{
        margin: 10px 0;
        .icon{
          display: inline-block;
          color: #ffffff;
          width: 50px;
          height: 50px;
          text-align: center;
          padding-top: 12px;
          background: #008f44;
          border-radius: 25px;
        }
        .title{
          color: #008f44;
          padding: 0 0 0 40px;
          font-size: 18px;
          display: inline-block;
        }
        .title:hover{
          color: #444444;
        }
      }
      .rdio-b{
        margin: 7px;
      }
      .actions{
        margin-bottom: 3px;
        .btn{
          display:inline-block;
          text-align: right;
          float: right;
          margin-left:10px;
          padding:  4px 10px;
        }
      }
    }
  }

.polls
  -#= render :partial => 'home/content/columns_2-data/polls_results'
  %h3 Опитування
  - @polls.each  do |poll|
    .poll{id: "poll-#{poll.id}"}
      = render :partial => 'home/content/columns_2-data/poll', :locals => {poll: poll}