:scss
  .column-1{
    .actual, .advertising{
      border-bottom: 1px solid #cce7d9;
      iframe{
        width: 100%;
        height: auto;
      }
    }
  }

.column-1
  = render :partial => 'home/content/columns_1-data/video'
  = render :partial => 'home/content/columns_1-data/feedback'