:scss
  .column-3{
    #accordion.panel-group{
      .panel{
        border: none;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        .panel-heading{
          padding: 0;
        }
      }
      a{
        text-decoration: none;
        color: #00a951;
        font-size: 18px;
        .item{
          width: 100%;
          padding: 10px 0 10px 15px;
          background-color: #eef7f2;
          vertical-align: top;
          content: "";
          display: table;
          clear: both;
          .text{
            width: 88%;
            float: left;
          }
          a{
            text-decoration: none;
            color: #00a951;
          }
          .fa-chevron-down{
            display: none;
          }
          .fa{
            width: 10%;
            float: right;
            padding-right: 10px;
            line-height: inherit;
            text-align: right;
            color: #a8d6be;
          }
          .fa-click{
            color: #067F40;
          }
        }
        .item-click{
          color: #067F40;
        }
        .item:hover, .item:active , .item:visited, .item:focus{
          background-color: #dcefe5;
          color: #067F40;
          .fa{
            color: #00a951;
          }
          .fa-chevron-left {
            display: none;
          }
          .fa-chevron-down{
            display: block;
            -webkit-transition: all 0.6s;
            -moz-transition: all 0.6s;
            -ms-transition: all 0.6s;
            -o-transition: all 0.6s;
            transition: all 0.6s linear;
          }
        }
      }
    }
    #accordion .panel-collapse .items{
      margin-left: 15px;
      margin-top: 5px;
      .item{
        .text{
          font-size: 16px;
        }
        .fa{
          font-size: 16px;
        }
      }
    }
    #accordion.panel-group .panel-collapse a .item{
      border-radius: 10px 0 0 10px;
    }
  }

.column-3
  %h3 Сфера діяльності
  #accordion.panel-group
    =  @right_menu.html_safe if @right_menu

:javascript

  $(".panel-title.dd .item").click(function(){
     if($(this).hasClass("item-click") ){
        $(this).removeClass("item-click");
        $(this).find('.fa').removeClass("fa-click");
     }
     else{
        $('.panel-title.dd .item').removeClass("item-click");
        $(this).addClass("item-click");
        $('.panel-title.dd .item').find('.fa').removeClass("fa-click");
        $(this).find('.fa').addClass("fa-click");
     }
  });