:scss
  .column-3{
    //background-color: #dcefe5;

    //.items{
    //  a{
    //    text-decoration: none;
    //    color: #00a951;
    //    font-size: 18px;
    //    .item{
    //      width: 100%;
    //      margin-bottom: 3px;
    //      padding: 10px 0 10px 15px;
    //      background-color: #eef7f2;
    //      vertical-align: top;
    //      content: "";
    //      display: table;
    //      clear: both;
    //      .text{
    //        width: 88%;
    //        float: left;
    //      }
    //      .fa{
    //        width: 10%;
    //        float: right;
    //        padding-right: 10px;
    //        line-height: inherit;
    //        text-align: right;
    //        color: #a8d6be;
    //      }
    //    }
    //    .item:hover{
    //      background-color: #dcefe5;
    //      .fa{
    //        color: #00a951;
    //      }
    //    }
    //  }
    //}
    #accordion.panel-group{
      .panel{
        border: none;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        .panel-heading{
          padding: 0;
        }
      }
      //.panel-title> a{
      //  text-decoration: none;
      //  color: #00a951;
      //  font-size: 18px;
      //  .item{
      //    width: 100%;
      //    //margin-bottom: 3px;
      //    padding: 10px 0 10px 15px;
      //    background-color: #eef7f2;
      //    vertical-align: top;
      //    content: "";
      //    display: table;
      //    clear: both;
      //    .text{
      //      width: 88%;
      //      float: left;
      //    }
      //    .fa{
      //      width: 10%;
      //      float: right;
      //      padding-right: 10px;
      //      line-height: inherit;
      //      text-align: right;
      //      color: #a8d6be;
      //    }
      //  }
      //  .item:hover{
      //    background-color: #dcefe5;
      //    .fa{
      //      color: #00a951;
      //    }
      //  }
      //}

      a{
        text-decoration: none;
        color: #00a951;
        font-size: 18px;
        .item{
          width: 100%;
          //margin-bottom: 3px;
          padding: 10px 0 10px 15px;
          background-color: #eef7f2;
          vertical-align: top;
          content: "";
          display: table;
          clear: both;

          .text{
            width: 88%;
            float: left;
          }
          a{
            text-decoration: none;
            color: #00a951;
          }
          .fa-chevron-down{
            //color:#067F40;
            display: none;
          }
          .fa{
            width: 10%;
            float: right;
            padding-right: 10px;
            line-height: inherit;
            text-align: right;
            color: #a8d6be;
          }
          .fa-click{
            color: #067F40;
          }
        }
        .item-click{
          color: #067F40;
        }
        .item:hover, .item:active , .item:visited, .item:focus{
          background-color: #dcefe5;
          color: #067F40;
          .fa{
            color: #00a951;
          }
          .fa-chevron-left {
            display: none;
          }
          .fa-chevron-down{
            display: block;
            -webkit-transition: all 0.6s;
            -moz-transition: all 0.6s;
            -ms-transition: all 0.6s;
            -o-transition: all 0.6s;
            transition: all 0.6s linear;
          }
        }
      }
    }
    #accordion .panel-collapse .items{
      margin-left: 15px;
      margin-top: 5px;
      .item{
        .text{
          font-size: 16px;
        }
        .fa{
          font-size: 16px;
        }
      }
    }
    #accordion.panel-group .panel-collapse a .item{
      border-radius: 10px 0 0 10px;
    }
  }

.column-3
  %h3 Сфера діяльності
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
            .item
              .text
                Основні показники діяльності охорони здоров'я
              %i.fa.fa-chevron-left
      -##collapseOne.panel-collapse.collapse.in
      -#  .panel-body
      -#    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    .panel.panel-default
      .panel-heading
        %h4.panel-title.dd
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
            .item
              .text
                Впровадження сучасних методик та технологій
              %i.fa.fa-chevron-left
              %i.fa.fa-chevron-down
      #collapseTwo.panel-collapse.collapse
        -#.panel-body
        .items
          %a{:href => "#"}
            .item
              .text
                Реєстр методичних рекомендацій, інформаційних листів (ІАЦМС)
              %i.fa.fa-chevron-left
        .items
          %a{:href => "http://www.amnu.gov.ua/index.php?p=articles&action=displayarticle&id=83", :target => "_blank"}
            .item
              .text
                Інформаційний бюлетень
              %i.fa.fa-chevron-left
    .panel.panel-default
      .panel-heading
        %h4.panel-title.dd
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
            .item
              .text
                Акредитація закладів охорони здоров'я
              %i.fa.fa-chevron-left
              %i.fa.fa-chevron-down
      #collapseThree.panel-collapse.collapse
        .items
          %a{:href => "#"}
            .item
              .text
                Нормативна база
              %i.fa.fa-chevron-left
        .items
          %a{:href => "#"}
            .item
              .text
                Плани та виконання
              %i.fa.fa-chevron-left
    .panel.panel-default
      .panel-heading
        %h4.panel-title.dd
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
            .item
              .text
                Державні закупівлі
              %i.fa.fa-chevron-left
              %i.fa.fa-chevron-down
      #collapseFour.panel-collapse.collapse
        .items
          %a{:href => "#"}
            .item
              .text
                2014 рік
              %i.fa.fa-chevron-left
        .items
          %a{:href => "#"}
            .item
              .text
                2015 рік
              %i.fa.fa-chevron-left
        .items
          %a{:href => "#"}
            .item
              .text
                Перелік закуплених лікарських засобів ДПЗ
              %i.fa.fa-chevron-left
        .items
          %a{:href => "#"}
            .item
              .text
                Забезпеченість за кошти державного бюджету
              %i.fa.fa-chevron-left
        .items
          %a{:href => "#"}
            .item
              .text
                Забезпеченість за іншими джерелами фінансування
              %i.fa.fa-chevron-left
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{:href => "http://vinmedlib.org.ua/", :target => "_blank"}
            .item
              .text
                Бібліотека
              %i.fa.fa-chevron-left
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{:href => "http://www.content.net.ua/registration/index.php?id=5915", :target => "_blank"}
            .item
              .text
                Про створення ЄСЕМД в області
              %i.fa.fa-chevron-left
    .panel.panel-default
      .panel-heading
        %h4.panel-title.dd
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFive"}
            .item
              .text
                Національна лінія телефону довіри
              %i.fa.fa-chevron-left
              %i.fa.fa-chevron-down
      #collapseFive.panel-collapse.collapse
        .items
          %a{:href => "http://aidscenter.org/", :target => "_blank"}
            .item
              .text
                ВІЛ/СНІД
              %i.fa.fa-chevron-left
        .items
          %a{:href => "http://dssz.gov.ua/index.php/?option=com_content&view=article&id=1551:sendform&catid=475:othe", :target => "_blank"}
            .item
              .text
                Електронна приймальня для пацієнтів
              %i.fa.fa-chevron-left
    .panel.panel-default
      .panel-heading
        %h4.panel-title.dd
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSix"}
            .item
              .text
                Волонтерство
              %i.fa.fa-chevron-left
              %i.fa.fa-chevron-down
      #collapseSix.panel-collapse.collapse
        .items
          %a{:href => "http://aidscenter.org/", :target => "_blank"}
            .item
              .text
                Допомога учасникам бойових дій
              %i.fa.fa-chevron-left
        .items
          %a{:href => "#", :target => "_blank"}
            .item
              .text
                Волонтерські організації
              %i.fa.fa-chevron-left
        -#.items
        -#  %a{:href => "#", :target => "_blank"}
        -#    .item
        -#      .text
        -#        Волонтерські навчання
        -#      %i.fa.fa-chevron-left
        -#.items
        -#  %a{:href => "#", :target => "_blank"}
        -#    .item
        -#      .text
        -#        Медичні волонтери
        -#      %i.fa.fa-chevron-left
        -#.items
        -#  %a{:href => "#", :target => "_blank"}
        -#    .item
        -#      .text
        -#        Благодійність
        -#      %i.fa.fa-chevron-left
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{:href => "#", :target => "_blank"}
            .item
              .text
                Соціальні проекти
              %i.fa.fa-chevron-left
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{:href => "#", :target => "_blank"}
            .item
              .text
                Фотоматеріали
              %i.fa.fa-chevron-left
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{:href => "#", :target => "_blank"}
            .item
              .text
                Відеоматеріали
              %i.fa.fa-chevron-left
    .panel.panel-default
      .panel-heading
        %h4.panel-title.dd
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSeven"}
            .item
              .text
                Гаряча лінія
              %i.fa.fa-chevron-left
              %i.fa.fa-chevron-down
      #collapseSeven.panel-collapse.collapse
        .items
          %a{:href => "#", :target => "_blank"}
            .item
              .text
                Он-лайн допомога
              %i.fa.fa-chevron-left
        .items
          %a{:href => "#", :target => "_blank"}
            .item
              .text
                Цілодобова телефонна допомога
              %i.fa.fa-chevron-left
        .items
          %a{:href => "#", :target => "_blank"}
            .item
              .text
                Телефон довіри
              %i.fa.fa-chevron-left
        .items
          %a{:href => "#", :target => "_blank"}
            .item
              .text
                Гаряча лінія з питань реформування охорони здоров`я
              %i.fa.fa-chevron-left
        .items
          %a{:href => "#", :target => "_blank"}
            .item
              .text
                Гаряча лінія З метою забезпечення оперативного реагування на звернення громадян в МОЗ
              %i.fa.fa-chevron-left
        .items
          %a{:href => "#", :target => "_blank"}
            .item
              .text
                Гаряча лінія з питань роботи екстреної медичної допомоги та медицини катастроф
              %i.fa.fa-chevron-left
        .items
          %a{:href => "#", :target => "_blank"}
            .item
              .text
                Гаряча лінія «АНТИ-ГРИП»
              %i.fa.fa-chevron-left
        #accordion2.items
          .panel.panel-default
            .panel-heading
              %h4.panel-title.dd
                %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseSeven1"}
                  .item
                    .text
                      Прес-центр
                    %i.fa.fa-chevron-left
                    %i.fa.fa-chevron-down
            #collapseSeven1.panel-collapse.collapse
              .items
                %a{:href => "http://aidscenter.org/", :target => "_blank"}
                  .item
                    .text
                      Повідомлення  та заяви
                    %i.fa.fa-chevron-left
              .items
                %a{:href => "http://aidscenter.org/", :target => "_blank"}
                  .item
                    .text
                      Реагування на критику
                    %i.fa.fa-chevron-left
              .items
                %a{:href => "http://aidscenter.org/", :target => "_blank"}
                  .item
                    .text
                      Форма та порядок подання
                    %i.fa.fa-chevron-left
        .items
          %a{:href => "#", :target => "_blank"}
            .item
              .text
                Звернення громадян.  Інформаційний куточок
              %i.fa.fa-chevron-left
    .panel.panel-default
      .panel-heading
        %h4.panel-title.dd
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEight"}
            .item
              .text
                Здоровий спосіб життя
              %i.fa.fa-chevron-left
              %i.fa.fa-chevron-down
      #collapseEight.panel-collapse.collapse
        .items
          %a{:href => "http://aidscenter.org/", :target => "_blank"}
            .item
              .text
                Здорове життя (бюлетені, Пам'ятка для тих, хто здійснює санітарно-просвітницьку роботу)
              %i.fa.fa-chevron-left
        .items
          %a{:href => "http://dssz.gov.ua/index.php/?option=com_content&view=article&id=1551:sendform&catid=475:othe", :target => "_blank"}
            .item
              .text
                Блок громадського здоров’я
              %i.fa.fa-chevron-left
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
            .item
              .text
                Публічна інформація
              %i.fa.fa-chevron-left
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
            .item
              .text
                Державно-приватне партнерство
              %i.fa.fa-chevron-left

  -#.items
  -#  %a{:href => "#"}
  -#    .item
  -#      .text
  -#        Оснвні показники діяльності охорони здоров'я
  -#      %i.fa.fa-chevron-left
  -#  %a{:href => "#"}
  -#    .item
  -#      .text
  -#        Впровадження сучасних методик та технологій
  -#      %i.fa.fa-chevron-left
  -#
  -#  %a{:href => "#"}
  -#    .item
  -#      .text
  -#        Акредитація закладів охорони здоров'я
  -#      %i.fa.fa-chevron-left
  -#  %a{:href => "#"}
  -#    .item
  -#      .text
  -#        Державні закупівлі
  -#      %i.fa.fa-chevron-left
  -#  %a{:href => "#"}
  -#    .item
  -#      .text
  -#        Бібліотека
  -#      %i.fa.fa-chevron-left
  -#  %a{:href => "#"}
  -#    .item
  -#      .text
  -#        Про створення ЄСЕМД в області
  -#      %i.fa.fa-chevron-left
  -#  %a{:href => "#"}
  -#    .item
  -#      .text
  -#        Нац !!! довіри
  -#      %i.fa.fa-chevron-left
  -#  %a{:href => "#"}
  -#    .item
  -#      .text
  -#        АТО
  -#      %i.fa.fa-chevron-left
  -#  %a{:href => "#"}
  -#    .item
  -#      .text
  -#        Соціальні проекти
  -#      %i.fa.fa-chevron-left
  -#  %a{:href => "#"}
  -#    .item
  -#      .text
  -#        Фотоматеріали
  -#      %i.fa.fa-chevron-left
  -#  %a{:href => "#"}
  -#    .item
  -#      .text
  -#        Відеоматеріали
  -#      %i.fa.fa-chevron-left
  -#  %a{:href => "#"}
  -#    .item
  -#      .text
  -#        Гаряча лінія
  -#      %i.fa.fa-chevron-left
  -#  %a{:href => "#"}
  -#    .item
  -#      .text
  -#        Здоровий спосіб життя
  -#      %i.fa.fa-chevron-left

  -#%h3 ОСТЕРІГАЙТЕСЬ ВІДМОРОЖЕНЬ!
  -#%p Закликаємо вас бути уважними та обережними на вулицях та на відкритому повітрі у зимовий період! При перших ознаках відмороження звертайтесь до найближчого лікувально–профілактичного закладу міста.

:javascript
  //jQuery('.item').click(function(){
  //  jQuery(this).toggleClass('item-click');
  //});

  $(".panel-title.dd .item").click(function(){
     if($(this).hasClass("item-click") ){
        $(this).removeClass("item-click");
        $(this).find('.fa').removeClass("fa-click");
     }
     else{
        $('.panel-title.dd .item').removeClass("item-click");
        $(this).addClass("item-click");
        $('.panel-title.dd .item').find('.fa').removeClass("fa-click");
        $(this).find('.fa').addClass("fa-click");
     }
  });