:scss
  .column-3{
    //background-color: #dcefe5;
    .items{
      a{
        text-decoration: none;
        color: #00a951;
        font-size: 18px;
        .item{
          width: 100%;
          margin-bottom: 3px;
          padding: 10px 0 10px 15px;
          background-color: #eef7f2;
          vertical-align: top;
          content: "";
          display: table;
          clear: both;
          .text{
            width: 88%;
            float: left;
          }
          .fa{
            width: 10%;
            float: right;
            padding-right: 10px;
            line-height: inherit;
            text-align: right;
            color: #a8d6be;
          }
        }
        .item:hover{
          background-color: #dcefe5;
          .fa{
            color: #00a951;
          }
        }
      }
    }
  }

.column-3
  %h3 Сфера діяльності
  .items
    %a{:href => "#"}
      .item
        .text
          Оснвні показники діяльності охорони здоров'я
        %i.fa.fa-chevron-left
    %a{:href => "#"}
      .item
        .text
          Впровадження сучасних методик та технологій
        %i.fa.fa-chevron-left
    %a{:href => "#"}
      .item
        .text
          Акредитація закладів охорони здоров'я
        %i.fa.fa-chevron-left
    %a{:href => "#"}
      .item
        .text
          Державні закупівлі
        %i.fa.fa-chevron-left
    %a{:href => "#"}
      .item
        .text
          Бібліотека
        %i.fa.fa-chevron-left
    %a{:href => "#"}
      .item
        .text
          Про створення ЄСЕМД в області
        %i.fa.fa-chevron-left
    %a{:href => "#"}
      .item
        .text
          Нац !!! довіри
        %i.fa.fa-chevron-left
    %a{:href => "#"}
      .item
        .text
          АТО
        %i.fa.fa-chevron-left
    %a{:href => "#"}
      .item
        .text
          Соціальні проекти
        %i.fa.fa-chevron-left
    %a{:href => "#"}
      .item
        .text
          Фотоматеріали
        %i.fa.fa-chevron-left
    %a{:href => "#"}
      .item
        .text
          Відеоматеріали
        %i.fa.fa-chevron-left
    %a{:href => "#"}
      .item
        .text
          Гаряча лінія
        %i.fa.fa-chevron-left
    %a{:href => "#"}
      .item
        .text
          Здоровий спосіб життя
        %i.fa.fa-chevron-left

  -#%h3 ОСТЕРІГАЙТЕСЬ ВІДМОРОЖЕНЬ!
  -#%p Закликаємо вас бути уважними та обережними на вулицях та на відкритому повітрі у зимовий період! При перших ознаках відмороження звертайтесь до найближчого лікувально–профілактичного закладу міста.