:scss
  .edit-medical-setups-group{
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new-news{
        display: inline-block;
        float: right;
        .btn{

          margin:20px 0 5px;
        }
      }
    }
  }


.edit-medical-setups-group
  .container
    .heading
      .title
        %h1 Редагування групи медичної установи
      .btn-new-news
        = link_to 'Групи медичних установ', admin_medical_setups_groups_path, :class => 'btn btn-primary'
  .container
    .form
      = render 'form', buttom: "Редагувати"