:scss
  body {
    background: url(/assets/36.jpg);
  }
  //.header{
  //  display: none;
  //}
  .successful_login{
    h1{
      text-align: center;
      color: white;
    }
  }

.container.successful_login
  %h1 Ви успішно увійшли!