:scss
  .edit-group-articles{
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new{
        display: inline-block;
        float: right;
        .btn{
          margin:20px 0 5px;
        }
      }
    }
  }

.edit-group-articles
  .container
    .heading
      .title
        %h1 Редагування групи для статей
      .btn-new
        = link_to 'Усі групи', admin_articles_groups_path, :class => 'btn btn-primary'
  .container
    .form
      = render 'form'