:scss
  .article{
    box-shadow: -5px 0 5px -5px #00a951, 5px 0 5px -5px #00a951;
    //padding-bottom: 10%;
  }

.container.article
  - if notice
    %p#notice= notice
  .example
    = @article.description.html_safe ||= "empty"

:javascript

  $(document).ready(function(){
    var content_all = $(".content-all").height();
    var article = $(".article").height();
    var padding_a = content_all - article;

    $(".article").css("padding-bottom", padding_a);
  });