:scss
  .show-article{
    padding: 10px 0;
    .title{
      background: #DCEFE5;
      border-radius: 5px;
      min-width: 10px;
      padding: 5px;
      text-align: center;
    }
  }

.show-article
  - @title_page = @article.title
  - @meta_keywords = @article.meta_keywords
  - @meta_description = @article.meta_description
  .container
    - if notice
      %p#notice= notice
    = @article.description.html_safe