- @admin_photo_gallery.photos.each_with_index do |photo, i|
  %div.photo{'data-id' => "#{photo.id}"}
    = link_to image_tag(photo.image.middle), image_path(photo.image), title: "rrr", target: "_blank" if photo.image.middle
    = link_to '<i class="fa fa-times"></i>'.html_safe, [@admin_photo_gallery, photo], title: "Видалити", :method => :delete, :data => { :confirm => 'Ви впевнені?' }, :class => 'btn btn-danger btn-photo btn-delete'