:scss
  .edit-photo{
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new-reply{
        display: inline-block;
        float: right;
        .btn{

          margin:20px 0 5px;
        }
      }
    }
    .form{
      .image{
        img{
          margin: 5px 5px 5px 5px;
        }
      }
    }
  }

.edit-photo
  .container
    .heading
      .title
        %h1 Редагування даних фотографії
      .btn-new-reply
        = link_to 'Назад', @admin_photo_gallery, :class => 'btn btn-primary'
  .container
    .form
      = render 'form'
