:scss
  .public-videos{
    .row{
    padding: 0 15px;
      .one-video{
        background: #F3FFF9;
        border: 1px solid #cce7d9;
        padding: 10px 0;
        margin-bottom: 5px;
        border-radius: 10px 10px 50px 10px;
        .iframe{

          iframe{
            width:100%;
            height: 120px;
          }
        }
        .info{
          p{
            .btn{
              float:right;
              padding: 2px 5px;

            }
            span{
              float:right;
              padding: 3px 10px;
              color: #ABAAAA;
            }
            strong{
              a{
                color: #008F44;
                font-size: 20px;
              }
            }
          }
          .pre-text{
            font-size: 17px;
          }
          .description{
            line-height: 1.6em;
            font-size: 15px;
            word-wrap: break-word;
          }
        }
      }
    }
    .row:nth-child(2n) .one-news{
      background: #F3FDFF;
    }
  }

.public-videos
  .container
    %h1 Відеоматеріали
    - @videos.each do |video|
      .row
        .one-video.clearfix
          .col-md-3.col-sm-3.iframe
            = video.iframe.html_safe
          .col-md-9.col-sm-9.info
            %p
              %strong
                %a{:href =>show_one_video_path(video), title: "Переглянути"}= video.title
              = link_to "Переглянути", show_one_video_path(video), :class => 'btn btn-success'
            %p.description= truncate(strip_tags(video.description), length: 400)