:scss
  .edit-photo-gallery{
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new{
        display: inline-block;
        float: right;
        .btn{
          margin:20px 0 5px;
        }
      }
    }
  }


.edit-photo-gallery
  .container
    .heading
      .title
        %h1 Редагування фотогалереї
      .btn-new
        = link_to 'Усі фотогалареї', admin_photo_galleries_path, :class => 'btn btn-primary'
        = link_to 'Переглянути', @admin_photo_gallery, :class => 'btn btn-primary'
  .container
    .form
      = render 'form'
