:scss
  .content{
    #notice{
      span{
        padding: 5px;
        background: #FFD564;
        border-radius: 5px;
      }
    }
    margin-top: 20px;
    h3{
      color: #008f44;
    }
    .f-column:nth-child(2){
      border-left: 2px solid rgba(214,235,224,0.8);
      border-right: 2px solid rgba(214,235,224,0.8);
    }
    .bottom-info{
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

.content
  .container
    - if notice
      %p#notice
        %span= notice
    .row
      .col-md-4.f-column
        = render :partial => 'home/content/column_1'
      .col-md-4.f-column
        = render :partial => 'home/content/column_2'
      .col-md-4.f-column
        = render :partial => 'home/content/column_3'
    -#.row.bottom-info
    -#  .col-md-6
    -#    %h3 Поради вчителям, батькам, медичним працівникам.
    -#    %p Вся історія людства тісно пов’язана з вживанням засобів, які можуть змінювати психічний стан людини. На жаль, неможливо охопити всі причини, які спонукають людину до вживання психотропних препаратів.
    -#  .col-md-6
    -#    %h3 Таємниці ритмів
    -#    %p Гармонійні ритми пронизують увесь світ. Вони в нас і навколо нас. Проте, ми нажаль, перестали прислухатися до них, хоча варто зробити невелике зусилля, як музика Всесвіту проникне в наші серця. Ритми лежать в основі всіх життєвих процесів, і коли дитина тільки вступає в цей світ, ритмічні сили поступово стають тією основою, на якій розгорнеться полотно долі.