:scss
  .gmap{
    padding: 10px 0 0;
  }

.gmap
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d651.3332727155789!2d28.4682534!3d49.2321737!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8fa7b8fa51b1539a!2z0JTQtdC_0LDRgNGC0LDQvNC10L3RgiDQvtGF0L7RgNC-0L3QuCDQt9C00L7RgNC-0LIn0Y8!5e0!3m2!1sru!2sua!4v1453717238857", :style => "border:0", :width => "100%"}