:scss
  .information{
    h3{
      color: #008f44;
    }
    .bottom-info{
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

.information
  .container
    .row
      .col-md-4
        %h3 Поради вчителям, батькам, медичним працівникам.
        %p Вся історія людства тісно пов’язана з вживанням засобів, які можуть змінювати психічний стан людини. На жаль, неможливо охопити всі причини, які спонукають людину до вживання психотропних препаратів.
      .col-md-4
        %h3 Таємниці ритмів
        %p Гармонійні ритми пронизують увесь світ. Вони в нас і навколо нас. Проте, ми нажаль, перестали прислухатися до них, хоча варто зробити невелике зусилля, як музика Всесвіту проникне в наші серця. Ритми лежать в основі всіх життєвих процесів, і коли дитина тільки вступає в цей світ, ритмічні сили поступово стають тією основою, на якій розгорнеться полотно долі.
      .col-md-4
        %h3 ОСТЕРІГАЙТЕСЬ ВІДМОРОЖЕНЬ!
        %p Закликаємо вас бути уважними та обережними на вулицях та на відкритому повітрі у зимовий період! При перших ознаках відмороження звертайтесь до найближчого лікувально–профілактичного закладу міста.
    .row.bottom-info
      .col-md-6
        %h3 Поради вчителям, батькам, медичним працівникам.
        %p Вся історія людства тісно пов’язана з вживанням засобів, які можуть змінювати психічний стан людини. На жаль, неможливо охопити всі причини, які спонукають людину до вживання психотропних препаратів.
      .col-md-6
        %h3 Таємниці ритмів
        %p Гармонійні ритми пронизують увесь світ. Вони в нас і навколо нас. Проте, ми нажаль, перестали прислухатися до них, хоча варто зробити невелике зусилля, як музика Всесвіту проникне в наші серця. Ритми лежать в основі всіх життєвих процесів, і коли дитина тільки вступає в цей світ, ритмічні сили поступово стають тією основою, на якій розгорнеться полотно долі.