:scss
  .slide{
    position: relative;
    img{
      width: 100%;
    }
    .text{
      position: absolute;
      top:47%;
      right:7%;
      text-align: right;
      font-size: 25px;
      color: #008f44;
    }
  }
.slide
  = image_tag 'slide/home-slide-img2.jpg'
  .text
    Методичні  рекомендації з надання лікувально-профілактичної допомоги