:scss
  .show-one-news{
    margin-top: 10px;
    .panel{
      word-wrap: break-word;
      .panel-heading{
        strong{
          float: left;
        }
        span{
          float:right;
        }
      }
      .panel-body{
      }
    }
  }

.show-one-news
  .container
    - if notice
      %p#notice= notice
    .col-md-10.col-md-offset-1
      .panel.panel-default
        .panel-heading.clearfix
          %strong
            = @managers_news.title
          %span
            = l(@managers_news.date_start, :format => "%d-%m-%Y")
        .panel-body
          .info
            %p= sanitize(@managers_news.description)