:scss
  .new-file-document{
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new-news{
        display: inline-block;
        float: right;
        .btn{
          margin:20px 0 5px;
        }
      }
    }
  }

.new-file-document
  .container
    .heading
      .title
        %h1 Новий нормативний документ
      .btn-new-news
        - header_documents = session[:file_document_category_title] || 'Нормативні документи'
        = link_to header_documents, admin_file_document_category_path(session[:file_document_category]), :class => 'btn btn-primary'
  .container
    .form
      = render 'form'