:scss
  .edit-role{
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new-news{
        display: inline-block;
        float: right;
        .btn{

          margin:20px 0 5px;
        }
      }
    }
  }

.edit-role
  .container
    .heading
      .title
        %h1 Edit role
      .btn-new-news
        = link_to 'Back',admin_role_path, :class => 'btn btn-primary'
  .container
    .form
      = render 'form'