.role-new
  .container
    .col-sm-11
      %h1 Create role
    .col-sm-1
      %h1
        = link_to 'Back', admin_roles_path, :class => 'btn btn-primary'
  .container
    .form
      = render 'form'