- if @photo_gallery.photos
  - @photo_gallery.photos.order(order_photo: :asc).each do |photo|
    = link_to "",{}, { href:image_path(photo.image), title: "#{photo.title}", :rel => "fancybox-button", :class => "col-md-4 col-sm-4 col-xs-6 fancybox-button", style: "background: url('#{image_path(photo.image.middle)}') no-repeat; background-position: center; background-size: cover; " }
