:scss

  .galleries{
    a{
      img{
        width: 120px;
      }
    }

    a.fancybox-button{
      img{
        width: 32.5%;
        padding: 5px;
      }
    }
  }

.galleries
  .container
    %h3
      -#= debug @news_photo.inspect
      Показники діяльності
    = link_to image_tag("logo.png"), "/test_slider", method: :get
    = link_to image_tag("logo.png"), {:controller => "gallery", :action => "show", :gallery => "Графіки" }, method: :get