:scss

  .galleries{
    a{
      //width: 500px;
      img{
        width: 120px;
      }
    }

    a.fancybox-button{
      img{
        width: 32.5%;
        padding: 5px;
        //background-color:red;
      }
    }
    .box{
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid #cce7d9;
      .title {
        line-height:1.2;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
        a{
          text-decoration: none;
          color: #333333;
        }
        a:hover{
          color: #008f44;
        }
      }
      .text{
        margin-left: 26%;
        width: 75%;
        font-size: 13px;
      }
      img{
        width: 25%;
        float: left;
        border-radius: 5px;
        margin-right: 5px;
      }
    }
  }

.galleries
  .container
    %h3
      -#= debug @news_photo.inspect
      Показники діяльності
    = link_to image_tag("logo.png"), "/test_slider", method: :get
    = link_to image_tag("logo.png"), {:controller => "gallery", :action => "show", :gallery => "Графіки" }, method: :get