:scss

  .photo-galleries{
    margin: 10px auto;
    .galleries-box{
      .gallery:hover{
        opacity: 1;
      }
      .gallery{
        display: inline-block;
        vertical-align: top;
        margin: 0 20px 10px 0;
        padding: 5px;
        opacity: .8;
        background: #E7FFF1;
        border-radius: 5px;
        width: 250px;
        a{
          text-decoration: none;
          text-align: center;
          font-size: 16px;
          img{
            width: 100%;
          }
          .title{
            margin-top: 5px;
            background: #E7FFF1;
            word-break: break-all;
          }
        }
      }
    }
  }

.photo-galleries
  .container
    %h3
      Фотоматеріали
    .galleries-box
      - @photo_galleries.each do |photo_gallery|
        .gallery
          %a{:href => photo_gallery_path(photo_gallery),  'data-method' => "get", style: " background: url('#{image_path(photo_gallery.photos.order(order_photo: :asc).first.image)}') no-repeat center;" }
            .div{style: " width: 100%; min-height: 150px; background: url('#{image_path(photo_gallery.photos.order(order_photo: :asc).first.image)}') no-repeat; background-position: 100% 50%; background-size: 100% auto; "}
            -#= image_tag photo_gallery.photos.order(order_photo: :asc).first.image.thumb if photo_gallery.photos.first
            -#= image_tag("statistic_gallery/1_Основні показники_2003-2015 р_22.02.2016_5 лет.jpg")
            -#- binding.pry
            .title
              = photo_gallery.title


              -#= link_to image_tag("statistic_gallery/cartograms/1_Основні показники_2003-2015 р_22.02.2016_5 лет.jpg"), {:controller => "gallery", :action => "show", :gallery => "cartograms" }, method: :get
              -#= link_to image_tag("logo.png"), gallery_path("charts"), method: :get