:scss

  .photo-galleries{
    margin: 10px auto;
    .galleries-box{
      .gallery:hover{
        opacity: 1;
      }
      .gallery{
        box-shadow: inset 0 0 0 2px white;
        display: inline-block;
        vertical-align: top;
        margin: 0 0 10px 0;
        padding: 5px;
        opacity: .8;
        background: #00a951;
        border-radius: 5px;
        width: 24.2%;
        a{
          box-shadow: inset 0 0 0 35px white;
          text-decoration: none;
          text-align: center;
          font-size: 16px;
          .div{
            box-shadow: inset 0 0 0 2px #A7FDA9;
          }
          img{
            width: 100%;
          }
          .title{
            margin-top: 5px;
            background: #00a951;
            color: white;
          }
        }
      }
    }
  }

.photo-galleries
  .container
    %h2
      Фотоматеріали
    .galleries-box
      - @photo_galleries.each do |photo_gallery|
        .gallery
          %a{:href => photo_gallery_path(photo_gallery),  'data-method' => "get" }
            .div{style: " width: 100%; min-height: 150px; background: url('#{image_path(photo_gallery.photos.order(order_photo: :asc).first.image) if photo_gallery.photos.any?}') no-repeat; background-position: center; background-size: cover; "}
            .title
              = photo_gallery.title
    .panel-paginate
      = paginate @photo_galleries