:scss
  .gallery-photo{
    .title{
      h3{
        text-align: center;
      }
    }
    #images-paginator{
      text-align: center;
      .pagination{
      }
    }
    a.fancybox-button{
      img{
        width: 32.5%;
        padding: 5px;
      }
    }

  }

.gallery-photo
  .container
    .title
      %h3
        = @title
    #images-paginator
      = paginate @images, :remote => true
    #results
      = render partial: "images", :locals => { images: @images }


    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-tri-serdca-4202.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-tri-serdca-4202.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-angel-dark-4093.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-angel-dark-4093.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-hearts-4154.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-hearts-4154.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-pozitiv-4134.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-pozitiv-4134.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-stranicy-4196.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-stranicy-4196.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-vstrecha-4163.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-vstrecha-4163.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-varejki-4109.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-varejki-4109.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-nit-4128.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-nit-4128.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-tri-serdca-4202.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-tri-serdca-4202.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-angel-dark-4093.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-angel-dark-4093.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-hearts-4154.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-hearts-4154.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-pozitiv-4134.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-pozitiv-4134.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-stranicy-4196.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-stranicy-4196.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-vstrecha-4163.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-vstrecha-4163.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-varejki-4109.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-varejki-4109.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"

    -#- if @news_photo
      - @news_photo.each do |n|
        -#= debug n.inspect
        = link_to image_tag(n.image.thumb), image_path(n.image), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => n.title, :class => "fancybox-button fancybox-thumb"

  :javascript

  //$(document).on('page:load', function() {
  //  $(".fancybox-button").fancybox({
  //    prevEffect	: 'none',
  //    nextEffect	: 'fade',
  //    helpers		: {
  //      title	: { type : 'inside' },
  //      buttons	: {},
  //      thumbs	: {
  //        width	: 100,
  //        height: 100
  //      }
  //    }
  //  });
  //});

  $(document).ready(function() {
    $(".fancybox-button").fancybox({
      prevEffect	: 'none',
      nextEffect	: 'fade',
      helpers		: {
        title	: false,
        //title	: { type : 'inside' },
        buttons	: {},
        thumbs	: {
          width	: 100,
          height: 100
        }
      }
    });
  });