:scss
  .gallery-photo{
    .title{
      h2{
        text-align: center;
      }
    }
    .description{
      font-size: 16px;
      text-align: justify;
    }
    .description::first-letter{
      font-size: 26px;
      font-style: italic;
      margin: 0 0 0 15px;
    }
    .photos{
      a.fancybox-button{
        height: 250px;
        box-shadow: inset 0 0 0 5px white, inset 0 0 0 9px #00a951;
        padding: 0 10px;
      }
      a.fancybox-button:hover{
        box-shadow: inset 0 0 10px 5px #00a951, inset 0 0 0 7px white;
        opacity: 0.9;
      }
    }
  }


.container.gallery-photo
  .title
    %h2
      = @photo_gallery.title
  .description
    = simple_format(@photo_gallery.description)
  .photos.row
    = render partial: "photos", :locals => { images: @photo_gallery.photos }

:javascript

  $(document).ready(function() {
    $(".fancybox-button").fancybox({
      prevEffect	: 'none',
      nextEffect	: 'fade',
      helpers		: {
        title	: false,
        //title	: { type : 'inside' },
        buttons	: {},
        thumbs	: {
          width	: 100,
          height: 100
        }
      }
    });
  });