:scss

  .galleries{
    margin: 10px auto;
    .galleries-box{
      .gallery:hover{
        opacity: 1;
      }
      .gallery{
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        padding: 5px;
        opacity: .8;
        background: #E7FFF1;
        border-radius: 5px;
        width: 250px;
        a{
          text-decoration: none;
          text-align: center;
          font-size: 16px;
          img{
            width: 100%;
          }
          .title{
            margin-top: 5px;
            background: #E7FFF1;
          }
        }
      }
    }
  }

.galleries
  .container
    %h3
      Основні показники діяльності охорони здоров'я
    .galleries-box
      .gallery
        %a{:href => statistic_gallery_path("charts_2012-2016"),  'data-method' => "get"}
          = image_tag("statistic_gallery/accounting.jpg")
          .title
            Показники діяльності за 2012 - 2016 рр.
      .gallery
        %a{:href => statistic_gallery_path("cartograms_2016"), 'data-method' => "get"}
          = image_tag("statistic_gallery/accounting.jpg")
          .title
            Показники в картограмах за 2016 рік
