:scss
  .header-menu{
    //background-color: rgba(254,235,204,0.8);
    //background-color: #D1FFD2;
    .navbar-collapse{
      max-height: inherit;
    }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
      background-color: rgb(0, 189, 91);
      //color: white;
      transition-duration: .7s;
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .open > a{
      background-color: rgb(0, 189, 91);
      color: white;
      transition-duration: .7s;
    }
    .navbar-default .navbar-nav > li > a:focus{
      color: white;
    }
    //.navbar-default .navbar-nav > .open > a{
    //  background-color: rgb(0, 189, 91);
    //  color: white;
    //}

    .navbar-nav > li > .dropdown-menu{
      min-width: 100%;
      border: 1px solid rgb(0, 189, 91);
      border-top: none;
      border-radius: 0;
      background-color: white;
      padding: 1px 0;
      .divider{
        margin: 0;
        background-color: rgb(0, 189, 91);
      }
      li{
        a{
          padding: 8px 10px;
          font-weight: 700;
        }
      }
    }
    .dropdown:hover  .dropdown-menu{
      -webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      -ms-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s linear;

      max-height: 0;
      display: block;
      overflow: hidden;
      opacity: 0.1;
    }
    .dropdown.open .dropdown-menu{
      max-height: 555px;
      opacity: 1;
    }
    .navbar{
      //background-color: rgb(0, 169, 81);
      //background-color:#2AD27A;
      background-color:rgb(76, 126, 204);
      margin-bottom: 0;
      border: none;
      .user-session{
        display: inline-block;
        float: right;
        text-align: center;
        form{
          margin-bottom: 0;
          .btn{
            padding: 0 3px;
          }
        }
      }
      .navbar-nav>li>a{
        font-size: 16px;
      }
      a{
        color: white;
      }
      li>a{
        color: white;
      }
      .dropdown-menu > li > a{
        //background-color: rgb(0, 189, 91);
        color: rgb(0, 179, 91);
      }
      .dropdown-menu > li > .a-within{
        background: transparent;
        padding: 3px 4px 3px 14px;
        font-weight: 500;
      }
      .dropdown-menu > li > .a-within:hover, .dropdown-menu > li > .a-within:focus{
        background: #F3F3F3;
      }
    }
  }
.header-menu
  .container
    %nav.navbar.navbar-default
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Головна
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            - if current_user && current_user.is_admin?
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "users_url", :role => "button"}
                  Користувачі
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => admin_users_path} Усі користувачі
                  %li
                    %a{:href => new_admin_user_path} Створити користувача
                  %li.divider{:role => "separator"}
                  %li
                    %a{:href => admin_roles_path} Ролі
                  %li
                    %a{:href => new_admin_role_path} Створити роль
            - if current_user
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "users_url", :role => "button"}
                  Новини
                  %span.caret
                %ul.dropdown-menu
                  - if current_user.access? "admin/news", "index"
                    %li
                      %a{:href => admin_news_index_path} Публічні новини
                    %li
                      %a{:href => new_admin_news_path } Створити новину
                    %li.divider{:role => "separator"}
                  - if current_user.access? "admin/managers_news", "index"
                    %li
                      %a{:href => admin_managers_news_index_path} Новини для керівників
                    %li
                      %a{:href => new_admin_managers_news_path } Створити новину
                    %li.divider{:role => "separator"}
                  - if current_user.access? "admin/videos", "index"
                    %li
                      %a{:href => admin_videos_path} Відеоматеріали
            - if current_user
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Пункти меню
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'Головне меню', admin_menu_items_path(category: 'Головне меню'), :method => :get
                    -#%a{:href => admin_menu_items_path} Головне меню
                  %li
                    = link_to 'Бокове меню', admin_menu_items_path(category: 'Бокове меню'), :method => :get
                    -#%a{:href => "#"} Бокове меню
                  -#admin_news_path
                  %li.divider{:role => "separator"}
                  %li
                    %a{:href => admin_files_path} Файли
                  %li.divider{:role => "separator"}
                  %li
                    %a{:href => admin_articles_path} Статті
                  -#%li.divider{:role => "separator"}
                  %li
                    %a{:href => admin_articles_groups_path} Групи статей
                  -#%li.divider{:role => "separator"}
                  -#- if current_user.access? "admin/medical_setups", "index"
                  -#  %li
                  -#    %a{:href => admin_medical_setups_path} Медичні установи
                  -#- if current_user.access? "admin/private_medical_setups", "index"
                  -#  %li
                  -#    %a{:href => admin_private_medical_setups_path} Приватні медичні установи
                  -#  %li.divider{:role => "separator"}
                  -#- if current_user.access? "admin/polls", "index"
                  -#  %li
                  -#    %a{:href => admin_polls_path} Опитування
            - if current_user
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Модулі
                  %span.caret
                %ul.dropdown-menu
                  - if current_user.access? "admin/medical_setups", "index"
                    %li
                      %a{:href => admin_medical_setups_path} Медичні установи
                    %li.divider{:role => "separator"}
                  - if current_user.access? "admin/private_medical_setups", "index"
                    %li
                      %a{:href => admin_private_medical_setups_path} Приватні медичні установи
                    %li.divider{:role => "separator"}
                  - if current_user.access? "admin/polls", "index"
                    %li
                      %a{:href => admin_polls_path} Опитування
            -#- if current_user && current_user.access_admin?
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Актуальні заходи та події
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} ввНовини
                  %li.divider{:role => "separator"}
                  %li
                    %a{:href => "#"} ввСтворити новину
                    -#admin_news_path
                  %li.divider{:role => "separator"}
                  %li
                    %a{:href => "#"} ввПлан роботи ДОЗ
                  %li
                    %a.a-within{:href => "#"} ввКомплексний план
                  %li
                    %a.a-within{:href => "#"} ввПлан роботи на місяць
            -#- if current_user && current_user.access_admin?
              %li
                %a{:href => "#"} Соціальна реклама
            -#- if current_user
              %li
                %a{:href => "#"} Опитування
            - unless current_user
              %li
                %a{:href => "#"} Вхід в Панель Управління!
          - if session[:user_id]
            .user-session
              .row
                -#.col-sm-11
                - user = Admin::User.find_by(id: session[:user_id])
                -#  gf
                -#.col-sm-1
                %span
                  -if user
                    = user.name
                    = button_to 'Вийти', admin_logout_path, method: :delete, :class => 'btn btn-info'