:scss
  .header-menu{
    //background-color: rgba(254,235,204,0.8);
    background-color: #D1FFD2;
    .navbar-collapse{
      max-height: inherit;
    }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
      background-color: rgb(0, 189, 91);
      //color: white;
      transition-duration: .7s;
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .open > a{
      background-color: rgb(0, 189, 91);
      color: white;
      transition-duration: .7s;
    }
    .navbar-default .navbar-nav > li > a:focus{
      color: white;
    }
    //.navbar-default .navbar-nav > .open > a{
    //  background-color: rgb(0, 189, 91);
    //  color: white;
    //}

    .navbar-nav > li > .dropdown-menu{
      min-width: 100%;
      border: 1px solid rgb(0, 189, 91);
      border-top: none;
      border-radius: 0;
      background-color: white;
      padding: 1px 0;
      .divider{
        margin: 0;
        background-color: rgb(0, 189, 91);
      }
      li{
        a{
          padding: 8px 10px;
          font-weight: 700;
        }
      }
    }
    .dropdown:hover  .dropdown-menu{
      -webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      -ms-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s linear;

      max-height: 0;
      display: block;
      overflow: hidden;
      opacity: 0.1;
    }
    .dropdown.open .dropdown-menu{
      max-height: 315px;
      opacity: 1;
    }
    .navbar{
      //background-color: rgb(0, 169, 81);
      background-color:#2AD27A;
      margin-bottom: 0;
      border: none;
      .navbar-nav>li>a{
        font-size: 16px;
      }
      a{
        color: white;
      }
      li>a{
        color: white;
      }
      .dropdown-menu > li > a{
        //background-color: rgb(0, 189, 91);
        color: rgb(0, 179, 91);
      }
      .dropdown-menu > li > .a-within{
        background: transparent;
        padding: 3px 4px 3px 14px;
        font-weight: 500;
      }
      .dropdown-menu > li > .a-within:hover, .dropdown-menu > li > .a-within:focus{
        background: #F3F3F3;
      }
    }
  }

.header-menu
  .container
    %nav.navbar.navbar-default
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Головна
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li

              = link_to 'Користувачі', users_path
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "users_url", :role => "button"}
                Новини
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => admin_news_index_path} Усі новини
                %li.divider{:role => "separator"}
                %li
                  %a{:href => new_admin_news_path } Створити новину
                %li.divider{:role => "separator"}
                %li
                  %a{:href => "#"} ДаДаА
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Актуальні заходи та події
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => admin_news_index_path} Новини
                %li.divider{:role => "separator"}
                %li
                  %a{:href => new_admin_news_path } Створити новину
                  -#admin_news_path
                %li.divider{:role => "separator"}
                %li
                  %a{:href => "#"} План роботи ДОЗ
                %li
                  %a.a-within{:href => "#"} Комплексний план
                %li
                  %a.a-within{:href => "#"} План роботи на місяць
            %li
              %a{:href => new_user_path} Соціальна реклама
            %li
              %a{:href => users_path} Опитування
