:scss

  .admin-menu-items{
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new{
        display: inline-block;
        float: right;
        .btn{
          margin:20px 0 5px;
        }
      }
    }
    table{
      border-style:solid;
      border-color:#63B8FF;
      thead{
        th{
          vertical-align: middle;
          text-align: center;
        }
      }
      tbody{
        td:nth-child(3), td:nth-child(6), td:nth-child(7), td:first-child, td:last-child{
          text-align: center;
        }
        td:last-child{
          text-align: center;
          white-space: pre-wrap;
        }
        td .btn{
         margin: 2px;
        }
      }
    }
  }

.heading
  .title
    %h1 Список пунктів  #{menu_category}
  .btn-new
    - if current_user && current_user.access?(params[:controller], params[:action])
      = link_to 'Створити пункт меню', new_admin_menu_item_path, :class => 'btn btn-primary'
%table.table.table-condensed.table-striped
  %thead
    %tr
      %th #
      %th Назва
      %th Показувати?
      %th Таргет
      %th Аліас
      %th Батько
      %th Порядок
      %th Дії
  %tbody
    = menu.html_safe