.heading
  .title
    %h1 Список пунктів  #{menu_category}
  .btn-new-news
    -#- if current_user && current_user.admin?
    = link_to 'Створити пункт меню', new_admin_menu_item_path, :class => 'btn btn-primary'
%table.table.table-condensed.table-striped{:style => "border-style:solid; border-color:#63B8FF"}
  %thead
    %tr
      -#%th Type menu item
      -#%th Type menu
      %th #
      %th Назва
      %th URL
      %th Таргет
      %th Аліас
      %th Батько
      %th Порядок
      %th
      %th Дія
      %th
  %tbody
    = menu.html_safe