:scss
  .edit-menu-item{
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new{
        display: inline-block;
        float: right;
        .btn{
          margin:20px 0 5px;
        }
      }
    }
  }

.edit-menu-item
  .container
    .heading
      .title
        %h1 Редагування пункту меню
      .btn-new
        = link_to 'Пункти Головного меню', admin_menu_items_path, :class => 'btn btn-primary'
  .container
    .form
      = render 'form'
