:scss
  .edit-medical-setup{
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new-news{
        display: inline-block;
        float: right;
        .btn{

          margin:20px 0 5px;
        }
      }
    }
  }


.edit-medical-setup
  .container
    .heading
      .title
        %h1 Редагування медичної установи
      .btn-new-news
        = link_to 'Медичні установи', admin_news_index_path, :class => 'btn btn-primary'
  .container
    .form
      = render 'form', buttom: "Редагувати"