:scss
  .advertising{
    border-bottom: 1px solid #cce7d9;
    .add{
      margin-bottom: 10px;
      h4{
        margin:0;
        padding: 10px 0px 10px 15px ;
        background: #dcefe5;
        border-radius: 10px 10px 0 0;
      }
      iframe{
        width: 100%;
        height: auto;
      }
    }

    //.inl-b{
    //  display: inline-block;
    //  font-size: 16px;
    //}
  }

.advertising
  %h3 Соціальна реклама
  -#.container-fluid
  -#  .row
  -#    .col-xs-2
  -#      %i.fa.fa-envelope-o.fa-lg
  -#    .col-xs-10
  -#      %h4 Імунітет з Комаровським rtf we f fd asfsf fsdffffffffffff fffffffffffffffffffffff ffffffffffffffffff ffffffffffffff fffffffffffffff
  -#    .col-xs-12
  -#      %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/B0YbzEQCB-g", :width => "100%"}
  -#.adds
  -#  %i.fa.fa-envelope-o.fa-lg.inl-b
  -#  .title.inl-b Імунітет з Комаровським
  -#  -#%h4 Імунітет з Комаровським
  .add
    %h4 Імунітет з Комаровським
    %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/B0YbzEQCB-g", :width => "100%"}
    %p Вся історія людства тісно  пов’язана з вживанням засобів, які можуть змінювати психічний стан людини. На жаль, неможливо охопити всі причини, яв’язана з вживанням засобів, які можуть змінювати
  .add
    %h4 Імунітет в ананасі
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/rG9cocUWNYA", :width => "100%"}
    %p Вся історія людства тісно  пов’язана з вживанням засобів, які можуть змінювати психічний стан людини. На жаль, неможливо охопити всі причини, яв’язана з вживанням засобів, які можуть змінювати психічний стан людини. На жаль, неможливо охопити всі причини, яв’язана з вживанням засобів, які можуть змінювати психічний стан людини. На жаль, неможливо охопити всі причини, я