%h1 Listing admin_statistic_catalogs

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @admin_statistic_catalogs.each do |admin_statistic_catalog|
      %tr
        %td= link_to 'Show', admin_statistic_catalog
        %td= link_to 'Edit', edit_admin_statistic_catalog_path(admin_statistic_catalog)
        %td= link_to 'Destroy', admin_statistic_catalog, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Statistic catalog', new_admin_statistic_catalog_path
