:scss
  .footer{
    padding-bottom: 0px;
    background-color: #eef7f2;
    .three-colmn{
      padding: 30px 0 30px;
      .f-column{
        //height: 100%;
        //border-right: 2px solid rgba(214,235,224,0.8);
        h3{
          margin-top: 0;
        }
        a{
          color: #008f44;
        }
        a:hover{
          color: black;
          text-decoration: none;
        }
        .icon{
          i{
            color: #008f44;
          }
          padding-left: 0px;
        }
        .news{
          p{
            span{
              color: #777777;
            }
          }
        }
        .info{
          p{
            span{
              color: #008f44;
            }
          }
        }
        .social-icons{
          margin-top: 10px;
          width: 100%;
          .con-center{
            width: 200px;
            margin: 0 auto;
            .icon{
              display: inline-block;
              color: #919191;
              width: 50px;
              height: 50px;
              text-align: center;
              padding-top: 12px;
              margin-right: 10px;
              background: white;
              border-radius: 25px;
              .fa{
                color: #919191;
              }
            }
            .icon:hover{
              .fa{
                color: white;
              }
              color: white;
              background: #008f44;
            }
          }
        }
      }
      .f-column:nth-child(2){
        border-left: 2px solid rgba(214,235,224,0.8);
        border-right: 2px solid rgba(214,235,224,0.8);
      }
    }
    .owner-year{
      margin: 0 auto;
      padding: 10px;
      text-align: center;
      border-top: 2px solid rgba(214,235,224,0.8);
      color: #008f44;
    }
  }

.footer
  .container
    .row.three-colmn
      .col-sm-4.f-column
        -#%h3 На зв'язку
        .container-fluid
          .row.info#contacts
            .col-sm-12.icon
              %h3 На зв'язку
            .col-xs-1.icon
              %i.fa.fa-phone.fa-lg
            .col-xs-11
              %p
                %span Вільна лінія:
                (0432) 35-37-43, (0432) 67-01-20
            .col-xs-1.icon
              %i.fa.fa-home.fa-lg
            .col-xs-11
              %p
                %span Адреса:
                вул. Соборна 70
            .col-xs-1.icon
              %i.fa.fa-clock-o.fa-lg
            .col-xs-11
              %p
                %span Години:
                Пн–Пт: 10 – 18;  Сб–Нд:  10 – 16
            .col-xs-1.icon
              %i.fa.fa-envelope-o.fa-lg
            .col-xs-11
              %p
                %span Е-мейл:
                health@gmail.com
          .social-icons
            .con-center
              .icon
                %i.fa.fa-facebook.fa-2x
              .icon
                %i.fa.fa-twitter.fa-2x
              .icon
                %i.fa.fa-instagram.fa-2x

      .col-sm-4.f-column
        .container-fluid
          .row.news
            .col-sm-12.icon
              %h3 Останні новини
            .col-xs-2.icon
              %i.fa.fa-calendar
            .col-xs-10
              %p
                %span 12 Січня 2015
            .col-xs-12.icon
              %p
                %a{:href => "#"} На центральному стадіоні відбулася Всеукраїнська акція «Пізнай себе»
            .col-xs-2.icon
              %i.fa.fa-calendar
            .col-xs-10
              %p
                %span 17 Січня 2015
            .col-xs-12.icon
              %p
                %a{:href => "#"} Для інформування населення в центральній бібліотеці створений загальнодоступний інформаційний куточок.
      .col-sm-4.f-column
        %h3 Навігація
        %p
          %a{:href => "#"} Головна
        %p
          %a{:href => "http://www.vin.gov.ua/web/upravlinnya/web_upr_zdor.nsf/webgr_view/main?OpenDocument&count=15&RestrictToCategory=GrA9ALH"} Департамент охорони здоров'я
        %p
          %a{:href => "#"} Лікувально-профілактичні заходи
        %p
          %a{:href => "#"} Нормативна база
        %p
          %a{:href => "#"} Контакти
    -#.row
    -#  .col-sm-12
    -#    .owner-year
    -#      Департамент Охорони Здоров'я © 2015.
    -#      %a{:href => "#"} Privacy Policy
-#%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
:javascript

  $(document).ready(function(){

      // Плавный скролл по якорям
      $('a[href^="#"]').click(function () {
          elementClick = $(this).attr("href");
          destination = $(elementClick).offset().top;
          if($.browser.safari){
          $('body').animate( { scrollTop: destination }, 1000 );
          } else {
              $('html').animate( { scrollTop: destination }, 1000 );
          }
          return false;
     });
  });